<h2>Articles avec le tag</h2>
<ul>
    {% for article in articles %}
        <li>
            <h3>{{ article.title }}</h3>
            {{ article.createdAt|date('m/d/Y H:i') }}
            <a href="{{ path('article_list', {'tag' : article.tag}) }}">{{ article.tag }}</a>
        </li>
    {% endfor %}
</ul>